// Colors
$color-primary:     #231F20;
$color-secondary:   #FFCC01;

$light-gray:        #BABEBD;
$gray:              #EEEEEE;
$medium-gray:       #8F9694;
$dark-gray:         #515557;
$white:             #FFFFFF;
$black:             #000000;




// Objects
$text-color:          #444444;
$link-color:          $color-primary;
$link-hover-color:    darken($color-primary, 10%);

$btn-color-primary:   $color-secondary;



// Typography
$font-primary:        'Encode Sans', sans-serif;
$font-secondary:      'Lato', sans-serif;



// Behaviour
$transition-default:  all .2s ease-out;



// Breakpoints
$xs-max:  767px;
$sm:      768px;
$sm-max:  1023px;
$md:      1024px;
$md-max:  1199px;
$lg:      1366px;
