.c-header {
  background-color: $color-primary;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: $transition-default;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: 1.5em 0;
    transition: $transition-default;

    a {
      display: inline-block;
    }
    
    img {
      transition: $transition-default;

      @media (max-width: $xs-max) {
        width: 260px;
      }
    }
  }

  &.is-active {
    .c-header__logo {
      margin: 1em 0;

      img {
        width: 190px;
        height: auto;
        transition: $transition-default;
      }
    }

    .c-menu__main {
      & > .c-menu__item {
        & > a {
          padding: 23px 0;
        }
      }

      .c-menu__sub {
        top: 46px;
      }
    }
  }
}